<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../node_modules//bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <title>Document</title>
</head>

<body>
    <h1>fotos</h1>
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Descripsion</th>
                        </tr>
                    </thead>
                    <tbody id="task">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="/jquery/jquery.js"></script>
<script type="module" src="/views/scripts/fotos/fotoScripts.js"></script>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>

</html>