<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../node_modules//bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <title>Document</title>
</head>

<body>
    <h1 align="center">registro de usuarios</h1>
    <div align="center">
        <form id="register-user">
            <div style="padding: 10px;">
                <label>nombre de usuario</label>
                <input type="text" placeholder="nombre de usuario" id="user-name">
            </div>
            <div style="padding: 10px;">

                <label>Correo Electronico</label>
                <input type="text" placeholder="nombre de usuario" id="user-email">
            </div>
            <div style="padding: 10px;">

                <label>Contraseña</label>
                <input type="password" placeholder="nombre de usuario" id="user-password">
            </div>
            <div style="padding: 10px;">

                <label>Repita Contraseña</label>
                <input type="password" placeholder="nombre de usuario" id="user-password-repeat">
            </div>
            <div style="padding: 10px;">
                <button type="submit">registrar</button>
                <button> <a href="/">cancelar</a> </button>
            </div>

        </form>
    </div>
</body>
<script src="/jquery/jquery.js"></script>
<script type="module" src="/views/scripts/usuarios/userScripts.js"></script>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>

</html>